<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cracdeal Automation Suite">
	<listeners>
		<listener class-name="com.cracdeal.qa.listeners.MySiteListeners"/>
	</listeners>
  <test thread-count="5" name="Cracdeal Tests">
    <classes>
      <class name="com.cracdeal.qa.testcases.HomePageTests"/>
      <class name="com.cracdeal.qa.testcases.AboutUsPageTests"/>
      <class name="com.cracdeal.qa.testcases.ContactUsPageTests"/>
      <!--<class name="com.cracdeal.qa.testcases.ProductSearchTests"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
